<div class="container">
  <h1>Status: <%= @status.status_desc %></h1>
  by <%= @status.user.profile.name %>

  <p>Tags:</p>
  <ul>
  <% @tags.each do |tag| %>
    <li><a href="/users/<%= @status.user_id %>/tags/<%= tag.id %>"><%= tag.tag_desc %></a></li>
  <% end %>
  </ul>


  <a href="/users/<%= @user.id %>/statuses/<%= @status.id %>/edit">Edit status</a>
  <%= byebug %>
  <form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/like" method="POST">
    <input type="submit" value="Like status">
  </form>

  <form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete status">
  </form>

  <p>Total number of likes: <%= @status.likes.count %></p>
  <h3>People who like this status</h3>
  <ul>
    <% @status.likes.each do |like| %>
      <li><%= like.user.profile.name %></li>
    <% end %>
  </ul>

  <form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/comments/add" method="POST">
    <input type="text" name="user[comment_desc]">
    <input type="submit" value="Add comment">
  </form>

  <h3>All comments for this status</h3>
  <ul>
  	<% @status.comments.each do |comment| %>
  		<li><%= comment.comment_desc %></li>
      <li><a href="/users/<%= @user.id %>/statuses/<%= @status.id %>/comments/<%= comment.id %>/edit">Edit</a></li>
      <li><form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/comments/<%= comment.id %>/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete comment">
      </form></li>
  	<% end %>
  </ul>
  
</div>
